[submodule "tech-challenge"]
	path = tech-challenge
	url = https://github.com/FIAP-Tech-Chalenge/tech-challenge
[submodule "FIAP-K8S-Terraform"]
	path = FIAP-K8S-Terraform
	url = https://github.com/FIAP-Tech-Chalenge/FIAP-K8S-Terraform
[submodule "tech-challenge-db"]
	path = tech-challenge-db
	url = https://github.com/FIAP-Tech-Chalenge/tech-challenge-db
[submodule "tech-challenge-k8s"]
	path = tech-challenge-k8s
	url = https://github.com/FIAP-Tech-Chalenge/tech-challenge-k8s
[submodule "tech-challenge-lambda"]
	path = tech-challenge-lambda
	url = https://github.com/FIAP-Tech-Chalenge/tech-challenge-lambda
[submodule "ms-pedido-api"]
	path = ms-pedido-api
	url = https://github.com/FIAP-Tech-Chalenge/ms-pedido-api
[submodule "ms-admin-api"]
	path = ms-admin-api
	url = https://github.com/FIAP-Tech-Chalenge/ms-admin-api
[submodule "ms-cliente-api"]
	path = ms-cliente-api
	url = https://github.com/FIAP-Tech-Chalenge/ms-cliente-api
